.rect1{
	background-color: lightblue;
	width: 250px;
	height: 75px;
	position: relative;
	margin: 5px;
	margin-left: 50px;
}

.rect2{
	background-color: lightblue;
	width: 250px;
	height: 75px;
	position: relative;
	
}

.rect3{
	background-color: lightblue;
	width: 250px;
	height: 75px;
	position: relative;
	margin: 5px;
	margin-left: 50px;
}

.rect4{
	background-color: lightblue;
	width: 250px;
	height: 75px;
	position: relative;
	margin: 5px;
}

.rect5{
	background-color: lightblue;
	width: 250px;
	height: 75px;
	position: relative;
	margin: 5px;
	margin-left: 50px;
}
